# Wetland Metrics Calculation Notebook v1_0

This notebook is the first pass at using the outputs of the Wetlands Insight Tool to calculate metrics including:

 |Metrics | Equations |
 |------- | --- |
| Permanence  | % of time |
|%of time dominated by water |
| % of time dominated by wet veg | 
|Commence to fill * |
|Number of years in which 'wet = true' at any point |
|Number of years in which 'wet AND dry = true' at any points |
|Total number of years |
| Is there a refugial pool/constant water signal |


What are the rules for combining these numbers to differentiate perennial, ephemeral, seasonal
*Need an increase by more than something followed by a continuation of more than x periods
https://docs.google.com/spreadsheets/d/1neV8biSmtmhEgZlhOglNAEfbcV1EshroPLUa6Bj7t0o/edit#gid=0

Pseudocode:

In [8]:
## Import some packages
import datacube
import os
import pandas as pd
import sys
#import xarray as xr

sys.path.append('../../10_Scripts')
#import DEADataHandling, DEAPlotting, TasseledCapTools, BandIndices


dc = datacube.Datacube(app='pixel drill')

%load_ext autoreload

%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Set up paths to data

In [6]:
# just starting with a simple csv input here
infile = '/g/data/r78/rjd547/DES-QLD_Project/pal_1/9999_DIAMANTINA_RIVER_12c.csv'

## Load in the csv from the Wetlands Insight Tool

In [7]:
print (infile)

/g/data/r78/rjd547/DES-QLD_Project/pal_1/9999_DIAMANTINA_RIVER_12c.csv

In [60]:
#use pandas to take a look at the file
in_df = pd.read_csv(infile, index_col=0,parse_dates=True, infer_datetime_format=True)

In [61]:
#check out our file
in_df.head()

,wofs_area_percent,wet_percent,green_veg_percent,dry_veg_percent,bare_soil_percent
1987-05-22 00:01:19.500,0.0,0.0,0.0,25.0,75.0
1987-09-11 00:04:05.500,0.0,0.0,0.0,25.0,75.0
1987-09-27 00:04:27.500,0.0,0.0,0.0,25.0,75.0
1987-11-30 00:05:39.500,0.0,0.0,0.0,0.0,100.0
1988-01-17 00:06:26.500,0.0,0.0,0.0,25.0,75.0

In [58]:
in_df = in_df.rename(columns={'Unnamed: 0':'date'})

In [59]:
in_df.dtypes

date                  object
wofs_area_percent    float64
wet_percent          float64
green_veg_percent    float64
dry_veg_percent      float64
bare_soil_percent    float64
dtype: object

In [55]:
in_df.index[0].type()

AttributeError: 'Timestamp' object has no attribute 'type'